<div class="card">
    <img src="/images/{{imageUrls}}" class="card-img-top" alt="{{headline}}">
    <div class="card-body">
        <h5 class="card-title"><span>{{headline}}</span></h5>
        <div>
            <p class="text-black-50 ">Sleeps {{numSleeps}} • {{numBedrooms}} Bedroom • {{numBathrooms}} Bathroom</p>

            <div class="rental-price">C${{pricePerNight}} per/night</div>
            <br>
            <div class="card-footer" id="text-rental-footer">{{city}} • {{province}}</div>
        </div>
    </div>
</div>